<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="\static\styles\style.css">

</head>
<body>

<!-- Menu Bar  --><!-- to change to reg. css. + some restyling -->
<div class="w3-bar w3-card" style="background-image: linear-gradient(to right,#0067a0, #0067a0); color:white;">

    <div onclick="link_to_home()" class="w3-bar-item w3-hover-teal ">
     <img src="static\Lineage-Shield-RGB-White.png" alt="lineage-Logo" height="80" class="w3-round">
 </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\clipboard.png" alt="tasks" height="80">
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_modal('add_task_modal')" class="w3-bar-item lineage_green_button">add Task</a>
            <a href="/reoccur" class="w3-bar-item lineage_green_button" style="text-decoration:none;">re-occurring tasks</a>
            <a href="/verify_tasks" class="w3-bar-item lineage_green_button" style="text-decoration:none;">verify tasks</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\line-chart.png" alt="finished_tasks" height="80">
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a href="/finished_tasks" class="w3-bar-item lineage_green_button" style="text-decoration:none;">finished task list</a>
            <a class="w3-bar-item lineage_green_button">Dashboard & metrics</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\user.png" alt="users" height="80">
         <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_modal('add_user_modal');" class="w3-bar-item lineage_green_button">Add User</a>
            <a class="w3-bar-item lineage_green_button">Manage Users</a>
            <a class="w3-bar-item lineage_green_button">User-info</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\settings.png" alt="settings" height="80">
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a href="log_out" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Log out</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Buildings</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Zones</a>
            <a href="/role" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Roles</a>
            <a class="w3-bar-item lineage_green_button">Email settings</a>
        </div>
    </div>
</div>



{% block body %}
{% endblock %}



<!--Add task model, used for....creating tasks -->
<!--todo change most inline styling to classes after designing-->
<div id="add_task_modal" class="task_modal">
    <div class="task_modal_content" style="padding:50px; padding-top:20px; height:70%">
         <!-- header part, Title and Close button,  but centered -->
        <div id="add_task_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Add Task</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('add_task_modal')">
        </div>
        <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>

        <!--add_task modal body -->
        <form method="POST">
        <!--add_task modal body -->
        <div style="display:flex; justify-content:space-around;" >

            <!-- divide it in 2 parts -->
             <div style="width:48%;">

                 <!-- divide this half in to rows with 2 columns  -->
                     <!--Task description --><!-- to clean-up and improve -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Task Description:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_description" type="text">
                       </div>
                 </div>
                     <!-- responsible, change to user or manual input -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>responsible:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_responsible" type="text">
                       </div>
                 </div>

                     <!--department, change on list based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Department:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_role">
                               {% for right in rights %}
                               <option value="{{right}}">{{right}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                     <!--Building, change to select based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Building:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_building">
                               {% for building in buildings %}
                               <option value="{{building}}">{{building}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                    <!--Zone, change to list based on building + add zones in DB-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Zone:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_zone">
                               <!-- TODO: change to dynamically change with javascript when building is changed  -->
                               {% for zone in zones %}
                               <option value="{{zone[2]}}">{{zone[2]}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>

                     <!--Estimated duration, used for points calc of workload -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>estimated duration:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:70%;" name="task_duration" type="text">
                           <label class="lineage_font_semi_bold" style="width:30%">Minutes</label>
                       </div>
                 </div>
                   <!--Start date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Start Date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_start_date" type="date">
                       </div>
                 </div>
                   <!--Due date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Due date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_due_date" type="date">
                       </div>
                 </div>

             </div>
            <div style="width:49%;">
                <!--Task instructions-->
                <div>
               <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                   <strong>Instructions:</strong>
               </div>
               <div style="width:100%;display:flex;align-items: center; margin-bottom:10px;">
                   <textarea name="task_instruction" rows="7" cols="60" maxlength="150" style="width:100%; overflow: hidden;
                    resize:none; white-space:pre-line;"></textarea>
               </div>
               </div>
                <!--Reoccur settings -->
                <div>

                    <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                    <strong>Scheduled/reoccurring task:</strong>
                    </div>
                    <!--check boxes, sepp div for alignment -->
                    <div class="lineage_font_semi_bold" style="display: inline-flex;align-items: center;width: 100%;justify-content: flex-start;">
                    <label>Exclude Weekends</label>
                    <input name="exclude_wk" type="checkbox" value="TRUE" style="margin-left:5px;">
                     <div class="spacer" style="width:15px;"></div>
                    <label>Exclude Week-Days</label>
                    <input name="exclude_wday" type="checkbox" value="TRUE" style="margin-left:5px;">
                     </div>
                    <!-- select days-->
                    <div style="margin-top:5px;">
                     <label class="lineage_font_semi_bold">reoccur every</label>
                    <input name="task_reoccur" value="0" type="number" min="0" max="365">
                     <label class="lineage_font_semi_bold">days</label>
                    </div>
                </div>
            </div>
        </div>
        <!--footer -->
        <div class="task_modal_footer">
            <input name="task_add_task" type="submit" class="lineage_green_button_inverted" value="Add Task">
        </div>
        </form>




    </div>
</div>

<!-- edit task modal-->
<div id="edit_task_modal" class="task_modal">
    <div class="task_modal_content" style="padding:50px; padding-top:20px; height:70%">
         <!-- header part, Title and Close button,  but centered -->
        <div id="edit_task_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Edit Task</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('edit_task_modal')">
        </div>
        <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>

        <!--edit_task modal body -->
        <form name="edit_task_modal_body" method="POST">
        <!--edit_task modal body -->
        <div style="display:flex; justify-content:space-around;" >

            <!-- divide it in 2 parts -->
             <div style="width:48%;">

                 <!-- divide this half in to rows with 2 columns  -->
                     <!--Task description --><!-- to clean-up and improve -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Task Description:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_description" id="edit_task_description" type="text">
                       </div>
                 </div>
                     <!-- responsible, change to user or manual input -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>responsible:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_responsible" id="edit_task_responsible" type="text">
                       </div>
                 </div>
                     <!--department, change on list based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Department:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_role" id="edit_task_role">
                               {% for right in rights %}
                               <option value="{{right}}">{{right}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                     <!--Building, change to select based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Building:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_building" id="edit_task_building">
                               {% for building in buildings %}
                               <option value="{{building}}">{{building}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                    <!--Zone, change to list based on building + add zones in DB-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Zone:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_zone" id="edit_task_zone">
                               <!-- TODO: change to dynamically change with javascript when building is changed  -->
                               {% for zone in zones %}
                               <option value="{{zone[2]}}">{{zone[2]}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>

                     <!--Estimated duration, used for points calc of workload -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>estimated duration:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:70%;" name="task_duration" id="edit_task_duration" type="text">
                           <label class="lineage_font_semi_bold" style="width:30%">Minutes</label>
                       </div>
                 </div>
                   <!--Start date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Start Date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_start_date" id="edit_task_start_date" type="date">
                       </div>
                 </div>
                   <!--Due date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Due date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_due_date" id="edit_task_due_date" type="date">
                       </div>
                 </div>

             </div>
            <div style="width:49%;">
                <!--Task instructions-->
                <div>
               <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                   <strong>Instructions:</strong>
               </div>
               <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                   <textarea name="task_instruction" rows="7" cols="60" maxlength="150" id="edit_task_instruction" style="width:100%; overflow: hidden;
                    resize:none; white-space:pre-line;"></textarea>
               </div>
               </div>
                <!--Reoccur settings -->
                <div>

                    <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                    <strong>Scheduled/reoccurring task:</strong>
                    </div>
                    <!--check boxes, sepp div for alignment -->
                    <div class="lineage_font_semi_bold" style="display: inline-flex;align-items: center;width: 100%;justify-content: flex-start;">
                    <label>Exclude Weekends</label>
                    <input name="exclude_wk" id="edit_exclude_wk" type="checkbox" value="TRUE" style="margin-left:5px;">
                     <div class="spacer" style="width:15px;"></div>
                    <label>Exclude Week-Days</label>
                    <input name="exclude_wday" id="edit_exclude_wday" type="checkbox" value="TRUE" style="margin-left:5px;">
                     </div>
                    <!-- select days-->
                    <div style="margin-top:5px;">
                     <label class="lineage_font_semi_bold">reoccur every</label>
                    <input name="task_reoccur" id="edit_task_reoccur" value="0" type="number" min="0" max="365">
                     <label class="lineage_font_semi_bold">days</label>
                    </div>
                </div>
            </div>
        </div>
        <!--footer -->
        <div class="task_modal_footer">
            <input type="hidden" style="display:hidden" id="edit_task" name="edit_task" value="" >
            <input type="submit" style="margin-bottom:15px;" class="lineage_green_button_inverted" value="edit task">
        </div>
        </form>




    </div>
</div>

<!--todo create more generic modal then task_modal-->
<div id="add_user_modal" class="task_modal">
    <div class="task_modal_content" style="padding:50px; padding-top:20px; height:50%; width:40%;">
        <!--add user header-->
         <div id="add_user_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Add user</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('add_user_modal')">
         </div>
         <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>
        <!-- add user form -->
        <div>
            <form method="post">
                <!--user name-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">username:</label>
                    <input name="user_name" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="text">
                </div>
                <!--password-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">password:</label>
                    <input name="user_password" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="password">
                </div>
                <!--  todo change to select based on user role rights -->
                <!--role -->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">role:</label>
                    <select name="user_role" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%; height:30px;">
                    {% for right in rights %}
                    <option value="{{ right }}">{{ right }}</option>
                    {% endfor %}
                    </select>
                </div>
                <!--e-mail where needed-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">E-mail:</label>
                    <input name="user_email" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="text">
                </div>
                <!--todo create button, to add task -->
                <div style="width:100%;margin-bottom:15px;display:flex;justify-content:flex-end;margin-top:25px;">
                    <input name="user_add" type="submit" value="Add User" class="lineage_green_button">
                </div>

            </form>
        </div>
    </div>
</div>

<!-- task options modal-->
<div id="task_option_modal" class="task_modal">
            <div class="task_modal_content" style="height:20%; width:35%;">
                <!--header,for now just the close button-->
                <div style="display:flex;flex-direction:row-reverse;">
                      <img src="static\close.png" height="30px;" style="margin:10px" onclick="close_modal('task_option_modal')">
                      <h6 id="task_option_desc" class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Task description Placeholder</h6>
                </div>
                <!--body with buttons-->
                <div style="display:flex; justify-content: space-evenly;">
                    <a onclick="cancel_task();" class="lineage_red_button">Cancel Task</a>
                    <a class="lineage_blue_button_inverted">Postpone Task</a>
                </div>

                <!--forms for deleting and postponing-->
                <div style="display:none;">
                    <form id="cancel_task_form" method="post">
                        <input name="cancel_task" id="cancel_task" type="hidden" value="">
                    </form>
                </div>

            </div>
        </div>


<!-- Report issue modal-->
<div id="report_issue_modal" class="task_modal">
    <div id="report_issue_modal_content" class="task_modal_content" style="padding:50px; padding-top:20px; height:54%; width:60%;">
        <!--report issue header-->
        <div id="report_issue_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Report Issue</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('report_issue_modal')">
        </div>
             <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>
        <!--Report issue form-->
        <div>
            <form method="POST">

                 <textarea name="Issue_report_issue" rows="7"  cols="60" maxlength="150" style="width:100%; overflow: hidden;
                    resize:none; white-space:pre-line;"></textarea>

                <input  id="Report_issue_id" type="hidden" name="Report_issue_id" value="">

                 <div style="width:100%;margin-bottom:15px;display:flex;justify-content:flex-end;margin-top:35px;">
                    <input name="Report_issue" type="submit" value="Report Issue" class="lineage_red_button">
                 </div>

            </form>

        </div>

    </div>

</div>


<!-- where the javascript lives,guess i should clean that up at some point -->
<script src="static/scripts/script.js"></script>

</body>
</html>
