{% extends "common.html" %}

{% block title %} Finished tasks {% endblock %}

<!-- block body contains all site specifics -->
{% block body %}
<!-- Task List -->

<div class="task_container">
    {% for task in tasks %}
    <div class="task_row">
        <!-- zone header -->
        <div style="width: 2.5%; display: inline-flex; justify-content: center;">
            <strong style="color:{{ task[21] }};" class="zone_header">{{ task[19] }}</strong>
        </div>
        <!-- zone color -->
        <div style="background-color:{{ task[21] }};width:1.5%;" class="zone_color"></div>
        <!-- Task description (width(incl.)34%) -->
        <div class="task_description" style="width:34%">
            <small class="lineage_font_semi_bold">description:</small>
            <strong class="lineage_font_semi_bold" style="font-size:18px;">{{task[1]}}</strong></div>
        <!-- finished by (44) -->
        <div class="task_description" style="width:11%" >
            <small class="lineage_font_semi_bold" >finished by:</small>
            <strong class="lineage_font_semi_bold" >{{task[15]}}</strong>
        </div>
         <!-- finished on (44) -->
        <div class="task_description" style="width:11%" >
            <small class="lineage_font_semi_bold" >finished on:</small>
            <strong class="lineage_font_semi_bold" >{{task[14]}}</strong>
        </div>
        <!-- Due Date (52) -->
        <div class="task_description" style="width:8%">
            <small class="lineage_font_semi_bold" >due date:</small>
            <strong class="lineage_font_semi_bold" >{{task[7]}}</strong>
        </div>
        <!-- Status (60) -->
        <div class="task_description" style="width:8%">
            <small class="lineage_font_semi_bold">status: </small>
            <strong class="lineage_font_semi_bold">{{task[10]}}</strong>
        </div>
        <!-- open task -->
        <div class="task_description" style="margin:5px;">
            <a class="lineage_blue_button" onclick="open_task_modal('task_modal_full',{{task[0]}});">Open Task</a>
        </div>
        <!-- task options, for now teal color maybe change to grey -->
        <div class="task_description" style="margin:5px;">
            <a class="lineage_green_button" onclick="">Options</a>
        </div>
        <!--contains the entire task to pass to task modal-->
        <!-- yes, i could just loop over them but want a list anyway so why not-->
        <!--todo add comment per line with description-->
        <div style="display:none;">
            <input name="{{task[0]}}" value="{{task[0]}}">
            <input name="{{task[0]}}" value="{{task[1]}}">
            <input name="{{task[0]}}" value="{{task[2]}}">
            <input name="{{task[0]}}" value="{{task[3]}}">
            <input name="{{task[0]}}" value="{{task[4]}}">
            <input name="{{task[0]}}" value="{{task[5]}}">
            <input name="{{task[0]}}" value="{{task[6]}}">
            <input name="{{task[0]}}" value="{{task[7]}}">
            <input name="{{task[0]}}" value="{{task[8]}}">
            <input name="{{task[0]}}" value="{{task[9]}}">
            <input name="{{task[0]}}" value="{{task[10]}}">
            <input name="{{task[0]}}" value="{{task[11]}}">
            <textarea name="{{task[0]}}" style="white-space: pre-line;resize:none;">{{task[12]}}</textarea>
            <input name="{{task[0]}}" value="{{task[13]}}">
            <input name="{{task[0]}}" value="{{task[14]}}">
            <input name="{{task[0]}}" value="{{task[15]}}">
            <input name="{{task[0]}}" value="{{task[16]}}">
            <input name="{{task[0]}}" value="{{task[17]}}">
            <input name="{{task[0]}}" value="{{task[18]}}">
            <input name="{{task[0]}}" value="{{task[19]}}">
            <input name="{{task[0]}}" value="{{task[20]}}">
            <input name="{{task[0]}}" value="{{task[21]}}">
        </div>

    </div>
    {% endfor %}
</div>

<!-- task modal styling based status and or user settings-->
<div id="task_modal_full" class="task_modal">
    <div id="task_modal_content" class="task_modal_content" style="padding:50px;padding-top:20px; height:80%">

        <!-- header part, Title and Close button -->
        <div id="task_modal_full_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" id="task_modal_head_description" style="display:inline-flex;width:95%;"></h2>
            <img src="static\close.png" height="40px;" style="float:right; margin:10px" onclick="close_modal('task_modal_full')">

        </div>

         <!--  main body -->
        <div id="task_modal_full_center" style="display:flex; justify-content: space-between; height:75%; flex-direction: row-reverse;">

            <!--part containing related info in label form-->
            <div class="task_modal_center_information" style="width:48%;">

                <strong class="lineage_font_bold">Task information:</strong>
                 <hr color="#0067a0" style="width:95%; margin:5px; height:1px;">
                <!--dates start,due -->
                 <div class="task_info">

                     <div style="width:120px;">
                         <strong class="lineage_font_semi_bold">Start date:</strong>
                     </div>


                   <div  class="task_info_label">
                       <!--start date filled in by JS -->
                       <p id="task_start_date" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                        <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">Due Date:</strong>
                        </div>

                   <div  class="task_info_label">
                       <!--due date filled in by JS -->
                       <p id="task_end_date" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>




                 </div>
                <!--zone and building-->
                 <div class="task_info">

                  <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">Zone: </strong>
                  </div>
                   <div  class="task_info_label">
                       <!--zone-->
                       <p id="task_zone" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">

                      <strong class="lineage_font_semi_bold">Building:</strong>
                     </div>
                     <!--building-->
                   <div  class="task_info_label">
                       <p id="task_building" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>




                 </div>
                <!-- duration and responsible-->
                 <div class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">est. duration:</strong>
                    </div>
                   <!--Duration-->
                   <div  class="task_info_label">
                       <p id="task_duration" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">responsible:</strong>
                     </div>
                   <!-- responsible -->
                   <div  class="task_info_label">
                       <p id="task_responsible" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--finished on and by-->
                 <div id="task_row_finished" class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">finished on:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_finishedON" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">finished by:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_finishedBY" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--verified on and by-->
                <div id="task_row_verified" class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">verified on:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_verifiedON" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong  class="lineage_font_semi_bold">verified by:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_verifiedBY" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--re-occurs and status-->
                <div class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">re-occurs:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_reoccurs" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">status:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_status" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>

            </div>
            <!--contains textbox with instructions-->
            <div class="task_modal_center_instruction" style="width:48%;">

            <strong class="lineage_font_bold">Instructions:</strong>
            <hr color="#0067a0" style="width:100%; margin:5px; height:1px;">

            <div class="lineage_font_semi_bold" style="background-color:#009681;margin-bottom:15px;width:100%; height:150px; color:white;">
                <p id="task_instruction" style="width:100%; padding:5px; padding-left:15px; color:white; word-break: break-all; white-space: normal;"></p>
            </div>

             <strong id="task_issue_header" class="lineage_font_bold">Reported Issues:</strong>
            <hr id="task_issue_line" color="#0067a0" style="width:100%; margin:5px; height:1px;">

            <div id = "task_issue_part" style="background-color:#009681; width:100%; height:150px; color:white">
                <p id="task_issue" style="padding:5px; padding-left:15px;"></p>
            </div>

            </div>

        </div>

        <!-- footer section, mostly for buttons -->
        <div id="task_modal_full_footer" class="task_modal_footer">
            <a id="finish_task_button" class="lineage_green_button_inverted" style="margin:15px; display:none;" onclick="finish_task()">Finish Task</a>
            <!-- to change to red button class and rename/rethink -->
            <a class="lineage_red_button" style="margin:15px;">Report Issue</a>
            <a class="lineage_grey_button" style="margin:15px;display:none;">Options</a>

            <!--hidden form, for task completion(posting info on task)-->
            <div style="display:none;">
                <form id="finish_task_form" method="post">
                    <input style="hidden" id="finish_task" name="finish_task" value="">
                </form>
            </div>
        </div>


    </div>
</div>
{% endblock %}
