<!DOCTYPE html>
<html>
<head>
    <title>Local Admin Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="\static\styles\style.css">
</head>

<body>

<!-- Menu Bar  --><!-- to change to reg. css. + some restyling -->
<div class="w3-bar w3-card" style="background-image: linear-gradient(to right,#0067a0, #0067a0); color:white;">

 <div class="w3-bar-item w3-hover-teal "><img src="static\Lineage-Shield-RGB-White.png" alt="lineage-Logo" height="80" class="w3-round"></div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\clipboard.png" alt="tasks" height="80">
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_add_task_modal()" class="w3-bar-item lineage_green_button">add Task</a>
            <a class="w3-bar-item lineage_green_button">manage re-occurring tasks</a>
            <a class="w3-bar-item lineage_green_button">verify tasks</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\line-chart.png" alt="finished_tasks" height="80">
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">finished task list</a>
            <a class="w3-bar-item lineage_green_button">Dashboard & metrics</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\user.png" alt="users" height="80">
         <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">Add User</a>
            <a class="w3-bar-item lineage_green_button">Manage Users</a>
            <a class="w3-bar-item lineage_green_button">add/edit roles</a>
            <a class="w3-bar-item lineage_green_button">User-info</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\settings.png" alt="settings" height="80">
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">Log out</a>
            <a class="w3-bar-item lineage_green_button">Local admin</a>
            <a class="w3-bar-item lineage_green_button">Email settings</a>
        </div>
    </div>
</div>

<div id="body" style="width:95%; margin:auto">

<!--Building section -->
<div style="width:100%;">
<div>
    <h2 class="lineage_font_semi_bold">Buildings:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:25px;"></div>
</div>
<div>
    <form method = "post" >
        <!--styling div,  add building input -->
        <div style="display:flex; align-items:center;">
        <label style="height:30px; font-size: 20px;" class="lineage_font_semi_bold">Add Building:</label>
        <input id = "add_building" name = "add_building" style="height:35px; margin:0px 10px;" type = "text">
        <input class="lineage_blue_button_inverted" style="padding: 7.5px 20px;" type = "submit" value="Submit">
        </div>
        <!--display all buildings in db-->
        <!--todo make modal to display building info when building is clicked, Building info : users per building, zones per building etc-->
        <div style="display:flex; align-items:center;">
            <label class="lineage_font_semi_bold" style="font-size:20px;">Building:</label>
            {% for building in buildings %}
            <label class="lineage_green_button" style="margin:12px 12px;border-radius: 10px;">{{building}}</label>
            {% endfor %}

        </div>
    </form>
</div>
</div>

<!--zone section-->

<div style="width:100%">
     <!--zone, and line -->
    <div>
    <h2 class="lineage_font_semi_bold">Zones:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:25px;"></div>
</div>
    <!--Start of zone form -->

    <div style="display:flex; flex-direction:column; width:40%;">

        <!--Select building for zone -->
        <div style="margin:10px 0px; display:inline-flex;">
            <label style="height:30px; font-size: 20px;width:50%;" class="lineage_font_semi_bold">Building:</label>
            <select style="height:35px; margin:0px 10px; width:50%;">
                {% for building in buildings %}
                <option value="{{building}}">{{building}}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div style="display:flex; flex-direction:column; width:40%;">
        <div style="margin:10px 0px; display:inline-flex;">
            <label style="height:30px; font-size: 20px;width:50%;" class="lineage_font_semi_bold">Zone Header:</label>
            <input  name = "add_zone" style="height:35px; margin:0px 10px; width:50%;" type = "text">
        </div>
        <div style="margin:10px 0px; display:inline-flex;">
            <label style="height:30px; font-size: 20px;width:50%;" class="lineage_font_semi_bold">Zone Description:</label>
            <input  name = "add_zone" style="height:35px; margin:0px 10px; width:50%;" type = "text">
        </div>
          <div style="margin:10px 0px; display:inline-flex;">
            <label style="height:30px; font-size: 20px;width:50%;" class="lineage_font_semi_bold">Zone Color:</label>
            <select id="zone_color_select" onchange="add_zone_color_change();" style="height:35px; margin:0px 10px; width:50%;background-color:#0067a0;">
                <option value="#0067a0;" style="background-color:#0067a0;">#0067a0;</option>
                <option value="#009681;" style="background-color:#009681;">#009681;</option>
                <option value="#43b02a;" style="background-color:#43b02a;"></option>
                <option value="#ff671f;" style="background-color:#ff671f;"></option>
                <option value="#f4364c;" style="background-color:#f4364c;"></option>
                <option value="#87189d;" style="background-color:#87189d;"></option>
                <option value="#0085ca;" style="background-color:#0085ca;"></option>
                <option value="#ff9e1b;" style="background-color:#ff9e1b;"></option>
                <option value="#53565a;" style="background-color:#53565a;"></option>
            </select>
        </div>




        </div>

</div>


</div>

<!-- where the javascript lives,guess i should clean that up at some point -->
<script src="static/scripts/script.js"></script>
</body>

</html>