<!DOCTYPE html>
<html>
<head>
    <title>Local Admin Page</title>
</head>
<body>

<h1>Local Admin Page</h1><br>
<h2>for now as simple as possible</h2>

<h3>Buildings:</h3>
<form method = "post" >
<label>Add_Building</label>
<input id = "add_building" name = "add_building" type = "text">
<input type = "submit">
</form><br>

<h3>Roles:</h3>
<form id="add_role" name="add_role" method="post">
    <label>Role_Name:</label><br>
    <input id="role_name" name="role_name" type="text"><br>

    <label>Buildings: </label><br>
    {% for building in buildings %}
    <input type="checkbox" name="role_building" id="{{building}}" value="{{building}}">
    <label for="{{building}}">{{building}}</label>
    {% endfor %}<br>

   <label>Rights: </label><br>
   {% for role in rights %}
    <input type="checkbox" name="rights" id='{{role}}' value="{{role}}">
    <label for="{{role}}">{{role}}</label>
   {% endfor %}<br>

    <label for=restricted>restricted/Tablet Only:</label>
    <input type="checkbox" id="restricted" name="restricted" value="restricted"><br>

    <input type="submit" id="role_add" name="role_add"><br>
</form>

<h3>Users:</h3>
<form method="post">
    <label>Username: </label>
    <input name="user_name" id="user_name" type="text"><br>
    <label>Password: </label>
    <input type="text" name="user_password" id="user_password"><br>
    <label>Role: </label>
    <select id="user_role" name="user_role">
        {% for role in rights %}
        <option value="{{role}}"> {{role}} </option>
        {% endfor %}
    </select><br>
    <label>Email: (optional)</label>
    <input type="email" name="user_email" id="user_email"><br>
    <input type="submit" id="user_add" name="user_add">

</form>


<h3>Zones:</h3>
<button>Add/Delete/Modify</button><br>




</body>

</html>