<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>re occurring</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="\static\styles\style.css">

</head>

<body>
<!-- Menu Bar  --><!-- to change to reg. css. + some restyling -->
<div class="w3-bar w3-card" style="background-image: linear-gradient(to right,#0067a0, #0067a0); color:white;">

 <div class="w3-bar-item w3-hover-teal "><img src="static\Lineage-Shield-RGB-White.png" alt="lineage-Logo" height="80" class="w3-round"></div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\clipboard.png" alt="tasks" height="80">
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_modal('add_task_modal')" class="w3-bar-item lineage_green_button">add Task</a>
            <a class="w3-bar-item lineage_green_button">re-occurring tasks</a>
            <a class="w3-bar-item lineage_green_button">verify tasks</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\line-chart.png" alt="finished_tasks" height="80">
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">finished task list</a>
            <a class="w3-bar-item lineage_green_button">Dashboard & metrics</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\user.png" alt="users" height="80">
         <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_modal('add_user_modal');" class="w3-bar-item lineage_green_button">Add User</a>
            <a class="w3-bar-item lineage_green_button">Manage Users</a>
            <a class="w3-bar-item lineage_green_button">User-info</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\settings.png" alt="settings" height="80">
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">Log out</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Buildings</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Zones</a>
            <a href="/role" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Roles</a>
            <a class="w3-bar-item lineage_green_button">Email settings</a>
        </div>
    </div>
</div>

<!-- Task List -->
<div class="task_container">
    {% for task in tasks %}
  <div class="task_row">
        <!-- zone header -->
        <div style="width: 2.5%; display: inline-flex; justify-content: center;">
            <strong style="color:{{ task[17] }};" class="zone_header">{{ task[15] }}</strong>
        </div>
        <!-- zone color -->
        <div style="background-color:{{ task[17] }};width:1.5%;" class="zone_color"></div>
        <!-- Task description (width(incl.)34%) -->
        <div class="task_description" style="width:34%">
            <small class="lineage_font_semi_bold">description:</small>
            <strong class="lineage_font_semi_bold" style="font-size:18px;">{{task[1]}}</strong></div>
        <!--  (44) -->
        <div class="task_description" style="width:11%" >
            <small class="lineage_font_semi_bold" >responsible:</small>
            <strong class="lineage_font_semi_bold" >{{task[3]}}</strong>
        </div>
         <!-- last creation on (44) -->
        <div class="task_description" style="width:11%" >
            <small class="lineage_font_semi_bold" >last creation:</small>
            <strong class="lineage_font_semi_bold" >{{task[13]}}</strong>
        </div>
        <!-- reoccur timing (52) -->
        <div class="task_description" style="width:8%">
            <small class="lineage_font_semi_bold" >reoccur timer (days):</small>
            <strong class="lineage_font_semi_bold" >{{task[10]}}</strong>
        </div>
        <!-- Status (60) -->
        <div class="task_description" style="width:8%">
            <small class="lineage_font_semi_bold">exclude wk/ wk-days</small>
            <strong class="lineage_font_semi_bold">{{task[11]}}, {{task[12]}}</strong>
        </div>
        <!-- open task -->
        <div class="task_description" style="margin:5px;">
            <a class="lineage_blue_button" onclick="open_task_modal('task_modal_full',{{task[0]}});">Open Task</a>
        </div>
        <!-- task options, for now teal color maybe change to grey -->
        <div class="task_description" style="margin:5px;">
            <a class="lineage_red_button_inverted" onclick="">delete</a>
        </div>
        <!--contains the entire task to pass to task modal-->
        <!-- yes, i could just loop over them but want a list anyway so why not-->
        <!--todo add comment per line with description-->
        <div style="display:none;">
            <input name="{{task[0]}}" value="{{task[0]}}">
            <input name="{{task[0]}}" value="{{task[1]}}">
            <input name="{{task[0]}}" value="{{task[2]}}">
            <input name="{{task[0]}}" value="{{task[3]}}">
            <input name="{{task[0]}}" value="{{task[4]}}">
            <input name="{{task[0]}}" value="{{task[5]}}">
            <input name="{{task[0]}}" value="{{task[6]}}">
            <input name="{{task[0]}}" value="{{task[7]}}">
            <input name="{{task[0]}}" value="{{task[8]}}">
            <input name="{{task[0]}}" value="{{task[9]}}">
            <input name="{{task[0]}}" value="{{task[10]}}">
            <input name="{{task[0]}}" value="{{task[11]}}">
            <textarea name="{{task[0]}}" style="white-space: pre-line;resize:none;">{{task[12]}}</textarea>
            <input name="{{task[0]}}" value="{{task[13]}}">
            <input name="{{task[0]}}" value="{{task[14]}}">
            <input name="{{task[0]}}" value="{{task[15]}}">
            <input name="{{task[0]}}" value="{{task[16]}}">
            <input name="{{task[0]}}" value="{{task[17]}}">
            <input name="{{task[0]}}" value="{{task[18]}}">
            <input name="{{task[0]}}" value="{{task[19]}}">
            <input name="{{task[0]}}" value="{{task[20]}}">
            <input name="{{task[0]}}" value="{{task[21]}}">
        </div>

    </div>
    {% endfor %}
</div>

<!--modals-->
<!-- task modal styling based status and or user settings-->
<div id="task_modal_full" class="task_modal">
    <div id="task_modal_content" class="task_modal_content" style="padding:50px;padding-top:20px; height:80%">

        <!-- header part, Title and Close button -->
        <div id="task_modal_full_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" id="task_modal_head_description" style="display:inline-flex;width:95%;"></h2>
            <img src="static\close.png" height="40px;" style="float:right; margin:10px" onclick="close_modal('task_modal_full')">

        </div>

         <!--  main body -->
        <div id="task_modal_full_center" style="display:flex; justify-content: space-between; height:75%; flex-direction: row-reverse;">

            <!--part containing related info in label form-->
            <div class="task_modal_center_information" style="width:48%;">

                <strong class="lineage_font_bold">Task information:</strong>
                 <hr color="#0067a0" style="width:95%; margin:5px; height:1px;">
                <!--dates start,due -->
                 <div class="task_info">

                     <div style="width:120px;">
                         <strong class="lineage_font_semi_bold">Start date:</strong>
                     </div>


                   <div  class="task_info_label">
                       <!--start date filled in by JS -->
                       <p id="task_start_date" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                        <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">Due Date:</strong>
                        </div>

                   <div  class="task_info_label">
                       <!--due date filled in by JS -->
                       <p id="task_end_date" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>




                 </div>
                <!--zone and building-->
                 <div class="task_info">

                  <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">Zone: </strong>
                  </div>
                   <div  class="task_info_label">
                       <!--zone-->
                       <p id="task_zone" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">

                      <strong class="lineage_font_semi_bold">Building:</strong>
                     </div>
                     <!--building-->
                   <div  class="task_info_label">
                       <p id="task_building" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>




                 </div>
                <!-- duration and responsible-->
                 <div class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">est. duration:</strong>
                    </div>
                   <!--Duration-->
                   <div  class="task_info_label">
                       <p id="task_duration" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">responsible:</strong>
                     </div>
                   <!-- responsible -->
                   <div  class="task_info_label">
                       <p id="task_responsible" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--finished on and by-->
                 <div id="task_row_finished" class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">finished on:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_finishedON" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">finished by:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_finishedBY" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--verified on and by-->
                <div id="task_row_verified" class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">verified on:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_verifiedON" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong  class="lineage_font_semi_bold">verified by:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_verifiedBY" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>
                <!--re-occurs and status-->
                <div class="task_info">

                    <div style="width:120px;">
                  <strong class="lineage_font_semi_bold">re-occurs:</strong>
                    </div>

                   <div  class="task_info_label">
                       <p id="task_reoccurs" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>

                     <div style="width:120px;">
                      <strong class="lineage_font_semi_bold">status:</strong>
                     </div>

                   <div  class="task_info_label">
                       <p id="task_status" class="lineage_font_bold" style="display:inline; color:#ffff;"></p>
                   </div>


                 </div>

            </div>
            <!--contains textbox with instructions-->
            <div class="task_modal_center_instruction" style="width:48%;">

            <strong class="lineage_font_bold">Instructions:</strong>
            <hr color="#0067a0" style="width:100%; margin:5px; height:1px;">

            <div class="lineage_font_semi_bold" style="background-color:#009681;margin-bottom:15px;width:100%; height:150px; color:white;">
                <p id="task_instruction" style="width:100%; padding:5px; padding-left:15px; color:white; word-break: break-all; white-space: normal;"></p>
            </div>

             <strong id="task_issue_header" class="lineage_font_bold">Reported Issues:</strong>
            <hr id="task_issue_line" color="#0067a0" style="width:100%; margin:5px; height:1px;">

            <div id = "task_issue_part">
                <p id="task_issue" style="padding:5px; padding-left:15px;"></p>
            </div>

            </div>

        </div>

        <!-- footer section, mostly for buttons -->
        <div id="task_modal_full_footer" class="task_modal_footer">
            <a id="finish_task_button" class="lineage_green_button_inverted" style="margin:15px;" onclick="finish_task()">Finish Task</a>
            <!-- to change to red button class and rename/rethink -->
            <a class="lineage_red_button" style="margin:15px;">Report Issue</a>
            <a class="lineage_grey_button" style="margin:15px;">Options</a>

            <!--hidden form, for task completion(posting info on task)-->
            <div style="display:none;">
                <form id="finish_task_form" method="post">
                    <input style="hidden" id="finish_task" name="finish_task" value="">
                </form>
            </div>
        </div>


    </div>
</div>

<!--Add task model, used for....creating tasks -->
<!--todo change most inline styling to classes after designing-->
<div id="add_task_modal" class="task_modal">
    <div class="task_modal_content" style="padding:50px; padding-top:20px; height:70%">
         <!-- header part, Title and Close button,  but centered -->
        <div id="add_task_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Add Task</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('add_task_modal')">
        </div>
        <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>

        <!--add_task modal body -->
        <form method="post">
        <!--add_task modal body -->
        <div style="display:flex; justify-content:space-around;" >

            <!-- divide it in 2 parts -->
             <div style="width:48%;">

                 <!-- divide this half in to rows with 2 columns  -->
                     <!--Task description --><!-- to clean-up and improve -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Task Description:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_description" type="text">
                       </div>
                 </div>
                     <!-- responsible, change to user or manual input -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>responsible:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_responsible" type="text">
                       </div>
                 </div>

                     <!--department, change on list based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Department:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_role">
                               {% for right in rights %}
                               <option value="{{right}}">{{right}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                     <!--Building, change to select based on user info -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Building:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_building">
                               {% for building in buildings %}
                               <option value="{{building}}">{{building}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>
                    <!--Zone, change to list based on building + add zones in DB-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Zone:</strong>
                      </div>

                       <div style="width:60%">
                           <select class="add_task_text_input" style="width:100%;height:30px;" name="task_zone">
                               <!-- TODO: change to dynamically change with javascript when building is changed  -->
                               {% for zone in zones %}
                               <option value="{{zone[2]}}">{{zone[2]}}</option>
                               {% endfor %}
                           </select>
                       </div>
                 </div>

                     <!--Estimated duration, used for points calc of workload -->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>estimated duration:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:70%;" name="task_duration" type="text">
                           <label class="lineage_font_semi_bold" style="width:30%">Minutes</label>
                       </div>
                 </div>
                   <!--Start date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Start Date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_start_date" type="date">
                       </div>
                 </div>
                   <!--Due date-->
                 <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">

                      <div class="lineage_font_semi_bold" style="width:40%">
                          <strong>Due date:</strong>
                      </div>

                       <div style="width:60%">
                           <input class="add_task_text_input" style="width:100%;" name="task_due_date" type="date">
                       </div>
                 </div>

             </div>
            <div style="width:49%;">
                <!--Task instructions-->
                <div>
               <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                   <strong>Instructions:</strong>
               </div>
               <div style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                   <textarea name="task_instruction" rows="7" cols="60" maxlength="150" style="width:100%; overflow: hidden;
                    resize:none; white-space:pre-line;"></textarea>
               </div>
               </div>
                <!--Reoccur settings -->
                <div>

                    <div class="lineage_font_semi_bold" style="width:100%;display: flex; align-items: center; margin-bottom:10px;">
                    <strong>Scheduled/reoccurring task:</strong>
                    </div>
                    <!--check boxes, sepp div for alignment -->
                    <div class="lineage_font_semi_bold" style="display: inline-flex;align-items: center;width: 100%;justify-content: flex-start;">
                    <label>Exclude Weekends</label>
                    <input name="exclude_wk" type="checkbox" value="TRUE" style="margin-left:5px;">
                     <div class="spacer" style="width:15px;"></div>
                    <label>Exclude Week-Days</label>
                    <input name="exclude_wday" type="checkbox" value="TRUE" style="margin-left:5px;">
                     </div>
                    <!-- select days-->
                    <div style="margin-top:5px;">
                     <label class="lineage_font_semi_bold">reoccur every</label>
                    <input name="task_reoccur" value="0" type="number" min="0" max="365">
                     <label class="lineage_font_semi_bold">days</label>
                    </div>
                </div>
            </div>
        </div>
        <!--footer -->
        <div class="task_modal_footer">
            <input name="task_add_task" type="submit" class="lineage_green_button_inverted" value="Add Task">
        </div>
        </form>




    </div>
</div>

<!--todo create add_user modal-->
<!--todo create more generic modal then task_modal-->
<div id="add_user_modal" class="task_modal">
    <div class="task_modal_content" style="padding:50px; padding-top:20px; height:50%; width:40%;">
        <!--add user header-->
         <div id="add_user_header" style="display:flex; align-items:center;">
            <h2 class="lineage_font_bold" style="display:inline-flex; justify-content:center; width:95%;">Add user</h2>
            <img src="static\close.png" height="40px;" style="margin:10px" onclick="close_modal('add_user_modal')">
        </div>
         <!-- underscore line-->
        <div style="background-color:#0067a0; height:2px; width:100%; margin-bottom:10px;"></div>
        <!-- add user form -->
        <div>
            <form method="post">
                <!--user name-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">username:</label>
                    <input name="user_name" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="text">
                </div>
                <!--password-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">password:</label>
                    <input name="user_password" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="password">
                </div>
                <!--  todo change to select based on user role rights -->
                <!--role -->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">role:</label>
                    <select name="user_role" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%; height:30px;">
                    {% for right in rights %}
                    <option value="{{ right }}">{{ right }}</option>
                    {% endfor %}
                    </select>
                </div>
                <!--e-mail where needed-->
                <div style="width:100%;margin-bottom:15px;display:flex;">
                    <label class="lineage_font_semi_bold" style="font-size:18px;display:inline-flex;width:40%;">E-mail:</label>
                    <input name="user_email" class="lineage_font_semi_bold" style="color:#53565a;display:inline-flex;width:60%;" type="text">
                </div>
                <!--todo create button, to add task -->
                <div style="width:100%;margin-bottom:15px;display:flex;justify-content:flex-end;margin-top:25px;">
                    <input name="user_add" type="submit" value="Add User" class="lineage_green_button">
                </div>

            </form>
        </div>

    </div>
</div>
<!-- where the javascript lives,guess i should clean that up at some point -->
<script src="static/scripts/script.js"></script>

</body>
</html>