<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="\static\styles\style.css">
</head>
<body>
<!-- Menu Bar  --><!-- to change to reg. css. + some restyling --><!--now just for looks -->
<div class="w3-bar w3-card" style="background-image: linear-gradient(to right,#0067a0, #0067a0); color:white;">

 <div class="w3-bar-item w3-hover-teal "><img src="static\Lineage-Shield-RGB-White.png" alt="lineage-Logo" height="80" class="w3-round"></div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\clipboard.png" alt="tasks" height="80">
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a onclick="open_add_task_modal()" class="w3-bar-item lineage_green_button">add Task</a>
            <a class="w3-bar-item lineage_green_button">re-occurring tasks</a>
            <a class="w3-bar-item lineage_green_button">verify tasks</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\line-chart.png" alt="finished_tasks" height="80">
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">finished task list</a>
            <a class="w3-bar-item lineage_green_button">Dashboard & metrics</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\user.png" alt="users" height="80">
         <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">Add User</a>
            <a class="w3-bar-item lineage_green_button">Manage Users</a>
            <a class="w3-bar-item lineage_green_button">add/edit roles</a>
            <a class="w3-bar-item lineage_green_button">User-info</a>
        </div>
    </div>

    <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
        <img src="static\settings.png" alt="settings" height="80">
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center">
            <a class="w3-bar-item lineage_green_button">Log out</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Buildings</a>
            <a href="/buildings_zones" class="w3-bar-item lineage_green_button" style="text-decoration:none;">Zones</a>
            <a class="w3-bar-item lineage_green_button">Email settings</a>
        </div>
    </div>
</div>
</body>


<div style="margin:10px; display:flex;justify-content:space-around;">
<div style="width:30%;display:flex;flex-direction:column;">
 <!-- header and line-->
<div>
    <h2 style="padding-left:15px;" class="lineage_font_semi_bold">add role:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:10px;"></div>
</div>
 <!-- add role form-->
<form method="post">
        <!--Role name-->
        <div style="width:100%; margin:10px;">
            <label style="font-size:18px;" class="lineage_font_semi_bold">role name:</label><br>
            <input name="role_name" type="text">
        </div>
        <!--role buildings, use multiple check boxes and retrieve with getlist()-->
        <div style="width:100%; margin:10px;" >
            <label style="font-size:18px;" class="lineage_font_semi_bold">buildings:</label><br>
            {% for building in buildings %}
            <input type="checkbox" name="role_building" id="{{building}}" value="{{building}}">
            <label  class="lineage_font_semi_bold" style="color:#53565a;padding-right:5px;" for="{{building}}">{{building}}</label>
            {% endfor %}
        </div>
         <!--role rights, use multiple check boxes and retrieve with getlist()-->
        <div style="width:100%; margin:10px;">

            {% set counter = namespace(value=0) %}
            <label style="font-size:18px;" class="lineage_font_semi_bold">rights:</label><br>

            {% for role in roles %}
               {% if counter.value == 3 %}
               {% set counter.value = 0 %}
               <br>
               {% endif %}
            <input type="checkbox" name="role_rights" id="{{role['role_name']}}" value="{{role['role_name']}}">
            <label class="lineage_font_semi_bold" style="color:#53565a;padding-right:5px;" for="{{role['role_name']}}">{{role['role_name']}}</label>
               {% set counter.value = counter.value + 1 %}
            {% endfor %}
        </div>
        <!--role restricted-->
        <div style="width:100%; margin:10px;">
            <label style="font-size:18px;" class="lineage_font_semi_bold">restricted/Tablet user:</label><br>
            <input name="role_restricted" type="checkbox" value="TRUE">
            <label style="color:#53565a;" class="lineage_font_semi_bold">restricted</label>
        </div>
        <!--add role button-->
        <div style="width:100%; display:flex; justify-content:flex-end;">
            <input style="margin:10px;" class="lineage_green_button" name="add_role" type="submit" value="Add Role">
        </div>
    </form>
</div>

<div style="width:68%;">
    <!--header and line-->
    <div>
    <h2 style="padding-left:15px;" class="lineage_font_semi_bold">roles:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:20px;"></div>
</div>
    <div style="height:500px; overflow:auto;">
        {% for role in roles %}
        <!--todo should rename the class name to be more generic-->
        <div class="task_row">
            <div class="task_description" style="width:15%;">
                <small class="lineage_font_semi_bold">role name:</small>
                <strong class="lineage_font_semi_bold">{{role['role_name']}}</strong>
            </div>
            <div class="task_description" style="width:30%;">
                <small class="lineage_font_semi_bold">has access to:</small>

                <strong class="lineage_font_semi_bold">
                {% for right in role['rights'] %}
                {{right}}
                {% endfor %}
                </strong>


            </div>
             <div class="task_description" style="width:15%;">
                <small class="lineage_font_semi_bold">buildings: </small>
                <strong class="lineage_font_semi_bold">
                    {% for building in role['building'] %}
                    {{ building }}
                    {% endfor %}
                </strong>
            </div>


        </div>
        {% endfor %}
    </div>

</div>

</div>
</html>


