{% extends "common.html" %}
{% block title %} buildings and zones {% endblock %}
<!-- block body contains all site specifics -->
{% block body %}

<!--body-->
<div style="margin:10px; display:flex;justify-content:space-around;">
<div style="width:30%;display:flex;flex-direction:column;">
 <!-- header and line-->
<div>
    <h2 style="padding-left:15px;" class="lineage_font_semi_bold">add role:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:10px;"></div>
</div>
 <!-- add role form-->
<form method="post">
        <!--Role name-->
        <div style="width:100%; margin:10px;">
            <label style="font-size:18px;" class="lineage_font_semi_bold">role name:</label><br>
            <input name="role_name" type="text">
        </div>
        <!--role buildings, use multiple check boxes and retrieve with getlist()-->
        <div style="width:100%; margin:10px;" >
            <label style="font-size:18px;" class="lineage_font_semi_bold">buildings:</label><br>
            {% for building in buildings %}
            <input type="checkbox" name="role_building" id="{{building}}" value="{{building}}">
            <label  class="lineage_font_semi_bold" style="color:#53565a;padding-right:5px;" for="{{building}}">{{building}}</label>
            {% endfor %}
        </div>
         <!--role rights, use multiple check boxes and retrieve with getlist()-->
        <div style="width:100%; margin:10px;">

            {% set counter = namespace(value=0) %}
            <label style="font-size:18px;" class="lineage_font_semi_bold">rights:</label><br>

            {% for role in roles %}
               {% if counter.value == 3 %}
               {% set counter.value = 0 %}
               <br>
               {% endif %}
            <input type="checkbox" name="role_rights" value="{{role['role_name']}}">
            <label class="lineage_font_semi_bold" style="color:#53565a;padding-right:5px;" for="{{role['role_name']}}">{{role['role_name']}}</label>
               {% set counter.value = counter.value + 1 %}
            {% endfor %}
        </div>
        <!--role restricted-->
        <div style="width:100%; margin:10px;">
            <label style="font-size:18px;" class="lineage_font_semi_bold">restricted/Tablet user:</label><br>
            <input name="role_restricted" type="checkbox" value="TRUE">
            <label style="color:#53565a;" class="lineage_font_semi_bold">restricted</label>
        </div>
        <!--add role button-->
        <div style="width:100%; display:flex; justify-content:flex-end;">
            <input style="margin:10px;" class="lineage_green_button" name="add_role" type="submit" value="Add Role">
        </div>
    </form>
</div>

<div style="width:68%;">
    <!--header and line-->
    <div>
    <h2 style="padding-left:15px;" class="lineage_font_semi_bold">roles:</h2>
    <div style="height:2px; width:100%; background-color:#0067a0; margin-bottom:20px;"></div>
</div>
    <div style="height:500px; overflow:auto;">
        {% for role in roles %}
        <!--todo should rename the class name to be more generic-->
        <!-- role row -->
        <div class="task_row">
           <div style="width:2%;background-color:#009681"></div>
            <!---role name-->
            <div class="task_description" style="width:18%;">
                <small class="lineage_font_semi_bold">role name:</small>
                <strong class="lineage_font_semi_bold">{{role['role_name']}}</strong>
            </div>
            <!--role rights  -->
            <div class="task_description" style="width:32%;">
                <small class="lineage_font_semi_bold">has access to:</small>
                <strong class="lineage_font_semi_bold">
                {% for right in role['rights'] %}
                {{right}}
                {% endfor %}
                </strong>
            </div>
            <!--role buildings  -->
            <div class="task_description" style="width:15%;">
                <small class="lineage_font_semi_bold">buildings: </small>
                <strong class="lineage_font_semi_bold">
                    {% for building in role['building'] %}
                    {{ building }}
                    {% endfor %}
                </strong>
            </div>
            <!--role restricted  -->
            <div class="task_description" style="width:15%;">
                <small class="lineage_font_semi_bold">restricted:</small>
                <strong class="lineage_font_semi_bold">{{ role['restricted'][0] }}</strong>
            </div>
            <!-- role delete button-->
            <div class="task_description" style="">
                <form id="delete_role_form" style="display:none;" method="post">
                    <input name="delete_role" id="delete_role" type="hidden" value="">
                </form>

                <a id="{{role['role_name']}}" class="lineage_red_button_inverted" onclick="delete_role(this.id)">Delete</a>
            </div>


        </div>
        {% endfor %}
    </div>

</div>

</div>

{% endblock %}
